div
{
	
	margin: 20px ;
	/*padding: 20px 20px 20px 20px;*/
}
#fmn
{

	border:solid gray 2px;
	margin:60px auto;
	height:600px;
	width:600px;
	border-radius: 20px;
}
#sd
{
	text-decoration: underline;
}