#pom
{
background:linear-gradient(blue,green);
}
#som
{
text-shadow:5px 15px 3px gray;
}
#kom
{
		font-family:algerian;
		font-size:100px;
		color:yellow;
		font-variant:small-caps;
		text-decoration:underline;
		text-align:center;
}
#rom
{
margin-top:50px;
margin-left:180px;
margin-bottom:50px;
text-align:center;
border: 3px solid orange;
padding:10px 60px;
width:300px;
background:yellow;
border-radius:30px;
box-shadow:10px 20px 5px orange;

}